@import "variables";

.form-container {
  font-family: $primary-font;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  /* height: 100vh; */

  .title {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;

    img {
      width: 40px;
      height: 40px;
      margin-right: 0.5rem;
      filter: $filter-primary;
    }
  }

  .divider {
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: $primary-color;
    margin-bottom: 1rem;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .controls-left {
      display: flex;
      align-items: center;

      .new-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        background-color: $primary-color;
        color: $white;
        font-size: 16px;
        visibility: visible;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        border: none;

        &:hover {
          background-color: $secondary-color;
        }

        img {
          width: 20px;
          height: 20px;
          margin-right: 0.5rem;
        }
      }
    }

    .controls-right {
      display: flex;
      align-items: center;

      .search {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

        img {
          width: 20px;
          height: 20px;
          margin-right: 0.5rem;
        }

        input {
          border: none;
          outline: none;
          height: 100%;
          /* margin-left: 0.5rem; */

          &::placeholder {
            color: #ccc;
          }
        }
      }

      .filter {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

        img {
          width: 20px;
          height: 20px;
          margin-right: 0.5rem;
        }

        select {
          border: none;
          outline: none;
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.form {
  input, button {
    font-size: 16px;
  }
}
