@import 'variables';
@import 'mixins';

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 5 days + 1 column for hours */
  gap: 1px;
  @include theme(background-color, bg-color);
  @include theme(color, fg-color);

  .header {
    @include theme(background-color, bg-color);
    font-weight: bold;
  }

  div {
    @include theme(background-color, bg-color);
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    min-height: 50px;

    body.dark & {
      background-color: map-get($dark-theme, nav-bg-color);
      color: map-get($dark-theme, fg-color);
    }
  }

  body.dark & {
    background-color: map-get($dark-theme, bg-color);
    color: map-get($dark-theme, fg-color);
  }
}
