@import 'variables';
@import 'mixins';

nav {
  @include theme(background-color, nav-bg-color);
  @include theme(color, fg-color);
  display: flex;
  height: 100vh;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  body.dark & {
    background-color: map-get($dark-theme, nav-bg-color);
    color: map-get($dark-theme, fg-color);
  }
}

.sidebar {
  font-family: $secondary-font;
  font-size: 1.5rem;
  height: 100%;
  padding: 0.2rem 0.5rem;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease, padding 0.3s ease;

  &.collapsed {
    width: 60px;
    padding: 1rem 0.5rem;

    .logo h1 {
      opacity: 0;
      transition: opacity 0.1s ease;
    }

    .btn {
      justify-content: center;
      padding: 0.5rem;

      img {
        width: 16px;
        height: 16px;
        margin-right: 0;
      }
    }

    .menu {
      display: none;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    h1 {
      font-family: "Inria Serif";
      font-size: 1.25rem;
      margin-left: 6px;
      transition: opacity 0.3s ease;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }

  .btn {
    display: flex;
    width: 100%;
    @include theme(background-color, nav-bg-color);
    border: none;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: padding 0.3s ease;

    img {
      width: 16px;
      height: 16px;
      margin-right: 1rem;
      filter: invert(43%) sepia(7%) saturate(968%) hue-rotate(172deg) brightness(94%) contrast(89%);
    }

    span {
      font-size: 1rem;
      font-weight: 500;
    }

    &:hover {
      background-color: $primary-color;
      @include theme(color, bg-color);
      transition: background-color 0.3s ease;

      img {
        filter: invert(1);
      }
    }

    &:active {
      background-color: $red;
      border: none;
    }

    body.dark & {
      background-color: map-get($dark-theme, nav-bg-color);
      color: map-get($dark-theme, fg-color);

      &:hover {
        background-color: $primary-color;
        @include theme(color, bg-color);
      }

      &:active {
        background-color: $red;
      }
    }
  }

  .menu {
    font-size: 1rem;
    margin-top: 0.75rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    @include theme(color, fg-color);
    font-weight: 700;
  }

  .menu-item {
    position: relative;

    &:hover {
      .submenu {
        display: block;
      }

      .tooltip {
        opacity: 1;
      }
    }

    .submenu {
      list-style: none;
      padding-left: 0;
      margin: 0;
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      margin-left: 0.05rem;
      @include theme(background-color, bg-color);
      border-radius: 0 10px 10px 0;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
      z-index: 1;
      width: 180px;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 0.5rem;
        padding: 10px 15px;
        font-size: 0.75rem;
        cursor: pointer;

        img {
          width: 16px;
          height: 16px;
          filter: invert(17%) sepia(54%) saturate(1537%) hue-rotate(174deg) brightness(101%) contrast(94%);
          margin-right: 0.3rem;
        }

        &:hover {
          border-radius: 10px;
          background-color: $primary-color;
          @include theme(color, bg-color);
          img {
            filter: invert(1);
          }
        }
      }

      body.dark & {
        background-color: map-get($dark-theme, nav-bg-color);
        color: map-get($dark-theme, fg-color);

        li:hover {
          background-color: $primary-color;
          @include theme(color, bg-color);
        }

        img {
          filter: invert(1);
        }
      }
    }

    .tooltip {
      display: none;
      position: absolute;
      left: 90px;
      top: 50%;
      transform: translateY(-50%);
      padding: 6px 12px;
      background-color: $primary-color;
      @include theme(color, bg-color);
      border-radius: 4px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      white-space: nowrap;
      z-index: 10;
      font-size: 1rem;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  .arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    right: 0;
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
  }

  .materias-window {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 240px);
    height: 100vh;
    padding: 1rem;
    transition: width 0.3s ease;
  }
}

.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 2.1rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  @include theme(background-color, bg-color);
  border: none;
  margin-top: auto;

  &:active {
    background-color: $red;
  }

  img {
    width: 20px;
    height: 20px;
    filter: invert(17%) sepia(54%) saturate(1537%) hue-rotate(174deg) brightness(101%) contrast(94%);
  }

  body.dark & {
    background-color: map-get($dark-theme, nav-bg-color);
    color: map-get($dark-theme, fg-color);
  }
}

.separator {
  height: 1px;
  background-color: #ccc;
  margin: 6px 0;
}
