@import 'variables';
@import 'mixins';

/* --------------------
 * Estilo para las tablas de la aplicación (forms)
 * -------------------- */
.table-container {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  overflow: auto;
  /* height: 100vh; */

  table {
    width: 100%;
    /* height: 240px; */
    margin: 0 auto; // Centrar la tabla
    border-collapse: separate;
    border-spacing: 0 2px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: auto;
    /* overflow: hidden; */
  }

  // Estilo para las acciones de la tabla
  table tbody>tr>td:last-child {
    width: 120px;
    border-left: 1px solid $primary-color;
  }

  // Estilo para las celdas de la tabla
  table tbody>tr>td {
    padding: 0 10px;
    text-align: center;

    body.dark & {
      background-color: map-get($dark-theme, nav-bg-color);
      color: map-get($dark-theme, fg-color);
    }
  }

  // Estilo para las filas de la tabla
  table tbody>tr {
    background-color: #fff;
    transition: background-color 0.3s;

    &:hover {
      background-color: $gold;
    }
  }

  // Estilo para las cabeceras de la tabla
  table thead>tr>th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid $primary-color;
  }

  // Estilo para los botones de la tabla
  .btn {
    padding: 4px 5px;
    margin-left: 5px;

    // Si el ancho de la pantalla es menor a 768px
    /* @include media-breakpoint-down(sm) { */
    /*   margin-left: 0; */
    /*   margin-top: 3px; */
    /* } */

    border: 1px solid $secondary-color;
    background-color: $secondary-color;
    color: $white;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: none;

    &:hover {
      background-color: $primary-color;
      border: none;
    }
  }

    // Estilo para los mostrar colores dentro de la tabla
    .table-color {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px auto 0 auto;
      width: 40%;
      border-radius: 4px;
    }
}
