@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  background-color: var(--background);
  color: var(--text);
}

/* Define colors */
:root {
  --background: #FFFFFE;
  --text: #5F6C7B;
  --headline: #094067;
  --blue: #3DA9FC;
  --red: #EF4565;
  --blue-light: #90B4CE;
  --other-green: #C5FF95;
}
