@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  background-color: var(--background);
  color: var(--text);
}

/* Define colors */
:root {
  --background: #fffffe;
  --text: #5f6c7b;
  --headline: #094067;
  --blue: #3da9fc;
  --red: #ef4565;
  --blue-light: #90b4ce;
  --other-green: #c5ff95;

  --white: #fffffe;
  --gray: #5F6C7B;
  --blue-dark: #094067;
}

.text-blue {
  --tw-text-opacity: 1;
  color: rgb(224 36 36 / var(--tw-text-opacity));
}
