@import "../global";

/* ----------------------------------------
  * Estilo para el color picker
    (Contenedor de los colores)
---------------------------------------- */
// Define common variables
$box-shadow-active: 0 0 3px 1px rgba(0, 0, 0, 0.25);
$dropdown-padding: 1rem;
$border-radius: .2rem;

.color-picker-holder {
  position: relative;
  width: 100%;
}

.color-picker-inner {
  display: flex;
  width: 100%;
  height: 2.75rem;
}

.select-color {
  border: 0;
  border-radius: 0.5rem 0 0 0.5rem; // top right bottom left
  background-color: inherit;
  cursor: pointer;
}

.caret {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid $primary-color;
  position: relative;
  top: 10px;
  margin-left: 6px;

  &.top {
    border-bottom: 4px solid #555;
    border-top: none;
  }
}

.active {
  box-shadow: inset 0 0 0 1px $other-color, $box-shadow-active;
}

input {
  width: 100%;
}

.color-block {
  border-radius: 6px;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
  font-size: 0;
}

.values-dropdown {
  padding: $dropdown-padding;
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  top: 40px;
  border-radius: .3rem;
  background: $white;
  border: 1px solid darken($white, 10%);

  body.dark & {
    background: map-get($dark-theme, bg-color);
    border: 1px solid lighten(map-get($dark-theme, bg-color), 10%);
  }

  &.top {
    top: auto;
    bottom: 40px;
  }

  .values-dropdown-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }

  button {
    border: none;
  }
}
