@import '../_variables';
@import '../_mixins';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;

  h1 {
    font-family: $primary-font;
    color: $primary-color;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-family: $secondary-font;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .modal-content {
    @include theme(background-color, bg-color);
    padding: 2rem;
    border: 1px solid $secondary-color;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba($black, 0.1);
    body.dark & {
      background-color: map-get($dark-theme, bg-color);
    }
  }

  .btn-confirm {
    background-color: $secondary-color;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    margin-right: 1rem;
    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }

  .btn-cancel {
    background-color: darken($white, 10%);
    color: $black;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    &:hover {
      background-color: darken(darken($white, 10%), 10%);
    }
  }
}
