@import "../global";

/* ----------------------------------------
  * Estilos para el formulario
  * -> Agregar, editar y eliminar
---------------------------------------- */
.form-editor {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0 1.25rem 1.25rem 1.25rem; // top right bottom left
  border: 1px solid $other-color;

  h1 {
    font-size: 1.75rem;
    font-family: $primary-font;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;

    /* | Label | Input | */
    .form-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.5rem;
      background-color: $white;
      border-radius: 10px;
      width: 100%;
      height: 2.75rem;

      body.dark & {
        background-color: lighten(map-get($dark-theme, bg-color), 10%);
      }

      label {
        width: 3rem;
        height: 100%;
        background-color: darken($white, 10%);
        /* padding: 0.5rem; */
        border-radius: 0.5rem 0 0 0.5rem; // top right bottom left
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;

        img {
          width: 1.5rem;
          height: 1.5rem;
          filter: $filter-primary;
        }

        body.dark & {
          background-color: lighten(map-get($dark-theme, bg-color), 5%);
          img {
            filter: $filter-white;
          }
        }

      }

      input,
      select {
        padding: 0.5rem 0.5rem;
        width: 100%;
        height: 1.75rem;
        border: 0;
        outline: 0;
        font-size: 1rem;
        border-radius: 0 0.5rem 0.5rem 0; // top right bottom left
        font-family: $primary-font;
        color: $black;
        background-color: $white;
        transition: border-color 0.3s, background-color 0.3s;

        &:focus {
          background-color: lighten($white, 5%);
        }

        &::placeholder {
          color: lighten($black, 40%);
          font-style: italic;

          body.dark & {
            color: lighten($black, 60%);
          }
        }

        /* Estilos para el modo oscuro */
        body.dark & {
          background-color: lighten(map-get($dark-theme, bg-color), 10%);
          color: map-get($dark-theme, fg-color);
          &::placeholder {
            color: lighten(map-get($dark-theme, fg-color), 40%);
          }
          &:focus {
            background-color: lighten(map-get($dark-theme, bg-color), 5%);
          }
        }
      } // input & select

      select {
        appearance: none;
        background-color: $white;
        border: none;
        padding-right: 1rem;
        background-image: url("/icons/arrow-down.svg"); // Custom dropdown icon
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 0.5rem;
        cursor: pointer;
        height: 100%;

        body.dark & {
          background-color: lighten(map-get($dark-theme, bg-color), 10%);
        }
      }

    } // .form-field

    // Estilos para el boton de guardar/editar
    .form-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 42px;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      color: $white;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border: none;
      transition: background-color 0.3s, transform 0.5s ease-in-out;
      background-color: $primary-color;

      &:hover {
        background-color: lighten($primary-color, 10%);
      }

      body.dark & {
        background-color: map-get($dark-theme, primary-color);
        img {
          filter: $filter-white;
        }
      }
    } // .form-button

  } // .form-group
}
